.todo-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.delete-todo {
  background-color: red;
};

.edit-todo {
  background-color: orange;
};

button:hover {
  background-color: darkblue;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80ch;
}

.todo-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin-bottom: 5px;
}

.todo-item {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 120px);
}

.todo-buttons {
  padding: 10px;
  flex-shrink: 0;
  display: flex;
}
